.my_social {
  position: absolute;
  top: 25px;
  left: 25px;
}

.my_social a {
  display: inline-block;
  height: 2.5em;
}

.my_social a img {
  height: 1.5em;
}

.cutter {
  width: 500px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.tri {
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  transform: rotateY(180deg);
}

.cir {
  clip-path: circle(50% at 50% 50%);
  transform: rotateY(180deg);
}

.pent {
  clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
  transform: rotateY(180deg);
}

.rhom {
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  transform: rotateY(180deg);
}

.btn2 {
  width: 500px;
  margin: 0 auto;
}

.btn-danger {
  padding: 10px;
  font-weight: 600;
  background: #ffea83 !important;
  border: 2px solid #efd038 !important;
  color: #742297 !important;
  width: 100px;
  margin-right: 20px;
}

.containers {
  width: 520px;
  margin: 20px auto;
}

#contact h1 {
  font-family: helvetica;
  font-weight: normal;
  text-align: center;
  color: #c0c0c0;
  padding-top: 50px;
  padding-bottom: 10px;
  width: 375px;
  margin: 0 auto;
  border-bottom: 3px solid #f3f3f3;
}

.cal {
  display: inline-block;
  background: #ffe;
  color: #555;
  font-size: 6px;
  text-align: center;
  transform: scale(1);
  transition: all 0.2s linear;
}

.cal:hover {
  transform: scale(2.5);
  transition: all 0.4s linear;
}

.cal caption {
  background: #d44;
  color: #eee;
  font-size: 15px;
}

.cal th {
  color: #aaa;
  line-height: 200%;
}

.cal th:first-child {
  color: #f00;
}

.cal th:last-child {
  color: #04d;
}

/*.cal td {
  padding: 0 2px;
  line-height: 100%;
}
